useDynLib(leafblower, .registration = TRUE)
importFrom("stats", "setNames", "var")
export(harvest)
export(anesrake)
export(diagnose_weights)
export(design_effect)
export(effective_sample_size)
export(get_current_miss)
export(weighted_pct)
